{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Rock & Roll  </title>
</head>
<body>
{% include 'navigation.html' %}

  <!-- Welcome Banner -->
  <header class="jumbotron text-center">
    <div class="container">
      <h1 style="color:Tomato;"> Adrenaline </h1>
        <br>
      <p style="font-size: 40px;">Our album <span style="font-weight: bold; color: #d2184e;">GO CRAZY </span> releases September 1st<p>
        <p>Make sure you download it because it will Blow your mind</p>
    </div>
  </header>

  <!-- Band Picture section -->
  <section class="container text-center">
    <img src="{% static 'img/download1.jpg' %}" alt="Band Image" class="img-fluid">
  </section>

  <!-- About section -->
  <section class="container">
    <h2 style="color:Tomato;"> About Us</h2>
   <p>We are South Africas next big hit, Adrenaline. Our journey began when we auditioned for the TV talent contest SA got Talent <p/>
    <p>It was so nerve wracking sitting back stage hearing everyone with such awesome voices. As the competition went on we got to know each other and really support each others journey.</p>
    <p>When the judges suggest we get put in a group it was like obviously, why didn't we think of that. It was just the natural thing to do.</p>
    <p>We are like best friends now and it's so much fun getting to travel the world together and do what we love. Come see us on tour, and tweet us which city we should visit next!</p>

    <p> ITS NOT MUSIC ITS ADRENALINE # </p>

    <!-- Music section -->
  <section class="container">
    <h2 style="color:Tomato;"> Our Music</h2>
      <p>We want our sound to be like the beattles with a cool hip hop and funky vibes. Like we just want it to feel really energetic with an attitude.<p/>
      <p>So far we have released the album <span style="font-weight: bold; text-size: 60px; color: #0d755b">Bullet to the brain</span> which went double platinum.</p>
      <p>Our next album,  <span style="font-weight: bold; color: #d2184e;"> GO CRAZY </span>, is out September 1st. You can preorder it where-ever music is sold.</p>